
body{

    background-color: #FFFFFF;
}

header{
    display: Flex;
    justify-content: center;
    align-items: center;
} 

Center{
  display: Flex;
  justify-content: center;
  align-items: center;
}

body{
  margin: 0;
  padding: 0;
}
nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b0b0b;
  float: center;
}

nav a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav a:hover {
  background-color: #C6A15B;
}

