
body{

    background-color: #FFFFFF;
}

header{
    display: Flex;
    justify-content: center;
    align-items: center;
} 

Center{
  display: Flex;
  justify-content: center;
  align-items: center;
}